<div id="panel">
    <table>
        <tr>
            <td colspan="2" class="label">Name: </td>
            <td colspan="2">{{username}}</td>
        </tr>
        <tr><td><br></td></tr>

        <tr>
            <td  colspan="3"  class="label">Money:</td>
            <td>{{money}}</td>
            <td  colspan="1" ><button (click) = "isMoneyDivVisible = isMoneyDivVisible?false:true">+</button></td>
        </tr>
        <tr><td><br></td></tr>

        <div *ngIf="auctions.length!=0" id= "rightMargin" ></div>
        <div *ngIf="this.isMoneyDivVisible" id="add_money_div">
            <form id="add_money_form" (ngSubmit)="add_money()" #add_money_form="ngForm">
                <td colspan="2"><input name="money_to_add" type="text" placeholder="Add money" [(ngModel)]="money_to_add"></td>
                <td colspan="2"><input type="submit" value="Add" id="add_money"></td>
            </form>
        </div>
        <tr><td><br></td></tr>   
    </table>

    <div id = "auctionsContainer">
        <app-auction-preview *ngFor="let element of auctions" [previewObject]="element"></app-auction-preview>
    </div>
</div>
